<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet
<page-router-outlet></page-router-outlet> -->

<GridLayout rows="*" columns="*" sdkExampleTitle sdkToggleNavButton>
    <!-- >> web-events-html -->
    <WebView id="webview" (loadStarted)="onLoadStarted($event)"
(loadFinished)="onLoadFinished($event)" [src]="webViewSrc">
    </WebView>
    <!-- << web-events-html -->
</GridLayout>

<!--
(loadStarted)="onLoadStarted($event)"
(loadFinished)="onLoadFinished($event)" -->
