<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965782609174-0ejge60lqd5t9rlro16oln739115sbqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965782609174-0ejge60lqd5t9rlro16oln739115sbqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBNfk1kF-6JrD5o77kdtePy8bPDf9PRqDE</string>
	<key>GCM_SENDER_ID</key>
	<string>965782609174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.ErasmusPlus</string>
	<key>PROJECT_ID</key>
	<string>erasmus-plus-aceb9</string>
	<key>STORAGE_BUCKET</key>
	<string>erasmus-plus-aceb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965782609174:ios:7dcf4235139ae5c202c437</string>
	<key>DATABASE_URL</key>
	<string>https://erasmus-plus-aceb9.firebaseio.com</string>
</dict>
</plist>